<form #fCreate (ngSubmit)="createSubmit(fCreate)">
    <div class="form-row">
        <div class="col-md-6">
            <fieldset>
                <legend>English Fields</legend>
                <div class="form-group">
                    <label for="nameEn">Name</label>
                    <input type="text" class="form-control" id="nameEn" name="nameEn" ngModel>
                </div>

                <div class="form-group">
                    <label for="descriptionShortEn">Short Description</label>
                    <textarea type="text" class="form-control" id="descriptionShortEn" name="descriptionShortEn" ngModel
                        rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="descriptionLongEn">Long Description</label>
                    <textarea type="text" class="form-control" id="descriptionLongEn" name="descriptionLongEn" ngModel
                        rows="6"></textarea>
                </div>

            </fieldset>
        </div>
        <div class="col-md-6 text-right" style="direction: rtl;">
            <fieldset>
                <legend>الحقول العربية</legend>
                <div class="form-group">
                    <label for="nameAr">الاسم</label>
                    <input type="text" class="form-control" id="nameAr" name="nameAr" ngModel>
                </div>

                <div class="form-group">
                    <label for="descriptionShortAr"> وصف قصير</label>
                    <textarea type="text" class="form-control" id="descriptionShortAr" name="descriptionShortAr" ngModel
                        rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="descriptionLongAr">وصف طويل</label>
                    <textarea type="text" class="form-control" id="descriptionLongAr" name="descriptionLongAr" ngModel
                        rows="6"></textarea>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="custom-file mt-2">
        <input type="file" class="custom-file-input" id="image" ngModel name="image">
        <label class="custom-file-label" for="image">Choose image</label>
    </div>

    <div class="custom-file mt-2">
        <input type="file" class="custom-file-input" multiple id="documents" ngModel name="documents" [(ngModel)]="documents">
        <label class="custom-file-label" for="documents">Choose documents</label>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>