<div class="container">
    {{ country | json }}
    <br>
    
    <a routerLink="/admin/countries" class="btn btn-light">
         Back<i class="material-icons">
            arrow_left
            </i>
    </a>
    <div class="card card-body mt-4">
        <form #fUpdate="ngForm" (ngSubmit)="updateSubmit(fUpdate)">

            <div class="form-group">
                <label for="country-name">Country</label>
                <input  type="text" name="name" class="form-control" id="country-name"
                    placeholder="Enter country name" [(ngModel)]="country.name">
            </div>


            <div class="form-group">
                <label for="country-iso">ISO </label>
                <input  type="text" class="form-control" id="country-iso" placeholder="Enter ISO of country"
                    name="iso" [(ngModel)]="country.iso ">
                <small class="text tex-muted"> country ISO name</small>
            </div>


            <fieldset class="border p-2">

                <legend class="w-auto">Add Cities</legend>
                <div class="form-group">
                    <!-- <label for="cities-list">Cities Entered</label> -->
                    <small class="from-text text-muted"> please enter comma separated list of cities</small>
                    <textarea (change)="onWriting(textarea, fUpdate)" #textarea class="form-control" id="cities-list"
                        rows="3" placeholder="example CityA, CityB, ...." name="states"
                        [(ngModel)]="states"></textarea>
                </div>

            </fieldset>

            <button type="submit" class="btn btn-primary mt-4">Save Changes</button>

        </form>
    </div>
    {{  fUpdate.value | json }}

</div>

<div style="height: 150px;"></div>