
<div>
    {{ user | json }}
</div>

<div class="container">

    
    <a routerLink="/admin/users" class="btn btn-light">
        Back<i class="material-icons">arrow_left</i>
    </a>

    <div>
        <form #fUpdate="ngForm" (ngSubmit)="updateSubmit(fUpdate)">

            <div class="form-group row">
                <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input [ngModel]="user.firstName" type="text" class="form-control" id="firstName" placeholder="first name"
                        name="firstName">
                </div>
            </div>

            <div class="form-group row">
                <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input [ngModel]="user.lastName" type="text" class="form-control" id="lastName" placeholder="last name"
                        name="lastName">
                </div>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input [ngModel]="user.email" type="email" class="form-control" id="email" placeholder="Email" name="email">
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input [ngModel]="user.password" type="password" class="form-control" id="password" placeholder="Password"
                        name="password">
                </div>
            </div>

            <div class="form-group row">
                <label for="role" class="col-sm-2 col-form-label">Role</label>
                <div class="col-sm-10">
                    <select class="form-control" id="role" name="role" [ngModel]="user.role" #mySelect>
                        <option *ngFor="let role of roles; let i=index" [value]="role.value">
                            {{role.name}}
                        </option>
                    </select>
                </div>
            </div>


            <div class="mt-4">
                <div class="form-group row ">
                    <label for="phone" class="col-sm-2 col-form-label">phone </label>
                    <div class="col-sm-10">
                        <input type="phone" class="form-control" id="phone" placeholder="Phone" name="phone" [ngModel]="user.phone">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="job" class="col-sm-2 col-form-label">job</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Job" placeholder="job" [ngModel]="user.job" name="job">
                    </div>
                </div>
            </div>

            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Address</legend>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="country">Country</label>
                                <select class="form-control" id="country"  #selectCountry [value]="country._id"
                                    name="country" (change)="countryChanges($event)">
                                    <option *ngFor="let country of countries" [value]="country._id"
                                        (click)="log($event)">
                                        {{ country.name +','+ country.iso}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="city">City</label>
                                <select class="form-control" id="city" name="city" (change)="cityChanges($event)" [value]="state">
                                    <option *ngFor="let city of states" [value]="city">
                                        {{city}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>


            <div class="form-group row">
                <label for="birthDate" class="col-sm-2 col-form-label">Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="birthDate" id="birthDate" [ngModel]="user.birthDate.split('T')[0]">
                </div>
            </div>



            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="genderMale" value="male"
                                [ngModel]="user.gender">
                            <label class="form-check-label" for="genderMale">
                                Male
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gender" id="genderFemale" value="female"
                                [ngModel]="user.gender">
                            <label class="form-check-label" for="genderFemale">
                                Female
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>



            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-2 pt-0">Verified</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="isVerified" id="verifiedYes"
                                [value]="true" checked [ngModel]="user.isVerified">
                            <label class="form-check-label" for="verifiedYes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="isVerified" id="verifiedNo"
                                [value]="false" [ngModel]="user.isVerified">
                            <label class="form-check-label" for="verifiedYes">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>



            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>


</div>