<div>

</div>

<form>
    <div class="row">
        <div class="col-md-6">
            <fieldset class="">
                <legend class="">English Fields</legend>

                <div class="form-group">
                    <label for="nameEn">Example label</label>
                    <input type="text" class="form-control" id="nameEn" placeholder="Example input name of album">
                </div>

                <div class="form-group">
                    <label for="descriptionEn">Another label</label>
                    <input type="text" class="form-control" id="descriptionEn"
                        placeholder="enter decription in English">
                </div>

            </fieldset>

        </div>
        <div class="col-md-6 text-right" style="direction: rtl;">
            <fieldset class="">
                <legend class="">الحقول باللغة العربية</legend>

                <div class="form-group">
                    <label for="nameAr">الاسم</label>
                    <input type="text" class="form-control" id="nameEn" placeholder=" من فضلك ادخل اسم الالبوم">
                </div>

                <div class="form-group">
                    <label for="descriptionAr">الوصف</label>
                    <input type="text" class="form-control" id="descriptionEn"
                        placeholder="من فضلك ادخل وصف الالبوم">
                </div>

            </fieldset>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile">
        <label class="custom-file-label" for="customFile">Choose file</label>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>